<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Matkad</title>
    <link rel="stylesheet" href="/stylesheets/treks.css">
    <%- include ("../partials/header.ejs") %>    
</head>

<body>

    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="matkad">
                <% for(let i=0; i < matkad.length; i++) { %>
                    <div class="matk">
                        <div class="matka-pealkiri">
                            <%= matkad[i].title %>
                        </div>
                        <div class="matka-kirjeldus">
                            <%= matkad[i].description %>
                        </div>
                        <div class="matka-asukoht">
                            <a href=<%=`https://www.google.ee/maps/place/@${matkad[i].locationLatitude},${matkad[i].locationLongitude},19z`
                                %>
                                target="_blank"><%= matkad[i].locationDescription %></a>
                        </div>
                        <a href=<%=`treks/${matkad[i].id}`%> class="btn btn-dark matka-nupp">Osalen matkal</a>
                    </div>
                <% } %>
            </div>
    </div>
    <%- include ("../partials/aluminenav.ejs") %>
</body>

</html>