<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Matk</title>
    <link rel="stylesheet" href="/stylesheets/trek.css">
    <%- include ("../partials/header.ejs") %>
</head>

<body>

    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="matkale-registreerumine">
                <div class="matk">
                    <div class="matka-pealkiri">
                        <%= matk.title %>
                    </div>
                    <div class="matka-kirjeldus">
                        <%= matk.description %>
                    </div>
                    <div class="matka-asukoht">
                         <a href=<%=`https://www.google.ee/maps/place/@${matk.locationLatitude},${matk.locationLongitude},19z`
                            %>
                            target="_blank"><%= matk.locationDescription %></a>
                    </div>
                    <div class="matka-hind">
                        <span>Hind: </span>
                        <%= matk.price %>
                    </div>
                    <div class="matka-pilt">
                        <img src=<%=matk.imageUrl %>>
                    </div>
                </div>
                <div class="vorm">
                    <div class="vormi-pealkiri">
                        <b>Täida siin registreerimisväljad!</b>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Osaleja nimi</label>
                            <input e type="text" class="form-control" id="name" placeholder="nimi" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Emaili aadress</label>
                            <input e type="email" class="form-control" id="email" placeholder="e-mail" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Märkused</label>
                            <textarea  class="form-control" id="description" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <span id="errorMessage"></span>
                        </div>
                        <div class="d-md-flex justify-content-md-end">
                            <button type="button" id="registreeru" class="btn btn-dark">Registreerimine</button>
                        </div>
                    </form>
                    
                </div>
            </div>
    </div>
    
    <script src="/scripts/trek.js"></script>
    <%- include ("../partials/aluminenav.ejs") %>
</body>

</html>